.container{
    width: 90%;
    margin: auto;
}
.shop_container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap:50px
    
}
.products_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin-top: 80px;
}
@media screen and (max-width:1100px){
    .products_container{
        grid-template-columns: repeat(2, 1fr);
    }
}